{% extends 'orders/header.html' %}

{% block content %}
    <div class="container-fluid" style="position: relative;top: 50%;transform: translateY(50%);">
      <div class="row justify-content-center">
        <h3><u>Detalles de contacto</u></h3>
      </div>
      <div class="row justify-content-center">
        <p>Nuestro número de contacto es 5539251643</p>
      </div>
      <div class="row justify-content-center">
        <p>And Instagram @manjumx</p>
      </div>
      <div class="row justify-content-center">
        <p>Si tienes alguna duda o comentario, puedes escribirnos a  angelserranogs@gmail.com</p>
      </div>
    </div>

{% endblock %}
