{% extends 'orders/header.html' %}

{% block content %}
    <div class="container-fluid">
      <div class="row justify-content-center" style="margin-top:20px;">
        <iframe src="https://www.google.com/maps/embed/v1/view?zoom=17&center=19.4243%2C-99.1753&key=AIzaSyBQ-4r6t0mCATO912cFW8ZZ7HMpk-QDj24" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>

      </div>
      <div class="row justify-content-center" style="margin-top:20px;">

        <ul>
          <li>Entregas sin costo sabados y domingos </li>
          <li>12:00 - 20:00</li>
          <li>Pagos via app, transferencia o en efectivo</li>
        </ul>

      </div>
      <div class="row justify-content-center">
        <p>Nuestro número de contacto es 5539251643</p>
      </div>
      <div class="row justify-content-center">
        <p>And Instagram @manjumx</p>
      </div>
      <div class="row justify-content-center">
        <p>Si tienes alguna duda o comentario, puedes escribirnos a  angelserranogs@gmail.com</p>
      </div>

    </div>

{% endblock %}
